.orderBookSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.orderBookSectionHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

